<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BQEV23K.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <BQEV23K.Properties.Settings>
            <setting name="CellCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TaperCurrent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TerminationVoltage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChargeRelaxHours" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DischargeRelaxHours" serializeAs="String">
                <value>5</value>
            </setting>
        </BQEV23K.Properties.Settings>
    </userSettings>
</configuration>
